{% load i18n %}
<li id="inline_child_{{ child.form.prefix }}">
    {# Use the prefix to determine what the IDs will be. Then use JS to determine which exist and which do not. #}
    {# With this in mind we can effectively create a search bar which will input into the relevant fields. #}
    <ul class="controls">
        {% if can_order %}
            <li><button type="button" class="button icon text-replace white icon-order-up inline-child-move-up" id="{{ child.form.prefix }}-move-up" title="{% trans 'Move up' %}">{% trans "Move up" %}</button></li>
            <li><button type="button" class="button icon text-replace white icon-order-down inline-child-move-down" id="{{ child.form.prefix }}-move-down" title="{% trans 'Move down' %}">{% trans "Move down" %}</button></li>
        {% endif %}
        <li><button type="button" class="button icon text-replace white icon-bin hover-no" id="{{ child.form.DELETE.id_for_label }}-button" title="{% trans 'Delete' %}">{% trans "Delete" %}</button></li>
    </ul>
    {{ child.render_form_content }}

    <label for="{{ child.form.prefix }}_search">Search: </label>
    <input id="{{ child.form.prefix }}_search">
    <br/>
    <div id="{{ child.form.prefix }}_map"
         style="width: 100%; height: 300px;"
         class="map-googlemap">
        <noscript>
            <img src="https://maps.google.com/maps/api/staticmap?center={{ address }}&zoom={{ zoom }}&size=600x300&markers={{ address }}&key={{ gmaps_api_key }}">
        </noscript>
    </div>
</li>
